.welContainer {
  margin-top: 50px;
  height: 500px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      #3bb49c84
    ),
    url("../public/image/overhead-view-of-medical-staff-talking-as-they-wal-2021-08-27-09-39-30-utc.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

h2 {
  color: #4c5a67;
  font-size: 40px;
  font-family: "Lucida Sans", sans-serif;
}

.welBtn {
  padding-top: 230px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.welAppBtn {
}

.welAppBtn {
  display: inline-block;
  border-radius: 4px;
  background-color: #4c5a67;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.welAppBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.welAppBtn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.welAppBtn:hover span {
  padding-right: 15px;
}

.welAppBtn:hover span:after {
  opacity: 1;
  right: 0;
}
