/* .welContainer {
  margin-top: 50px;
  height: 500px;
} */

.app-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.appForm-container {
  margin-top: 120px;
  margin-bottom: 90px;
  width: 550px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 60px 30px;
}

.appForm-title {
  text-align: center;
  margin: 10px 0px 20px 0px;
  font-size: 28px;
  color: #0a987b;
  font-family: "Lucida Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.appForm-Txt {
  text-align: center;
  margin: 10px 0 40px 0;
  font-size: 14px;
  color: #747474;
  font-family: "Lucida Sans", sans-serif;
  letter-spacing: 0.5px;
}

.appForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.appForm-input {
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px;
}

.appForm-btn {
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 10px 15px;
  font-family: "Lucida Sans", sans-serif;
  border-radius: 8px;
  border: 0 !important;
  outline: 0 !important;
  background: #4c5a67;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
}

.appForm-btn:active {
  box-shadow: none;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}

.addDocSection {
  margin-top: 130px;
  margin-bottom: 130px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addDocForm-container {
  width: 650px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 90px 30px;
}

.addDocForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}

.addDocInput {
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
  margin: 10px;
}

.addDocTitle {
  color: #0a987b;
  text-align: center;
  font-family: "Lucida Sans", sans-serif;
  margin: 10px 0 30px 0;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.addDoc-form-btn {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 15px 15px;
  font-family: "Lucida Sans", sans-serif;
  font-size: 15px;
  border-radius: 8px;
  border: 0 !important;
  outline: 0 !important;
  background: #4c5a67;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
}

.timeSec {
  font-family: "Lucida Sans", sans-serif;
  color: #4c5a67;
}
.addServSection {
  margin-top: 130px;
  margin-bottom: 130px;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.addServForm-container {
  width: 650px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 80px 30px;
}

.addServForm {
  display: flex;
  flex-direction: column;
}

.addServInput {
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
  margin: 10px;
}

.addServTitle {
  color: #0a987b;
  text-align: center;
  font-family: "Lucida Sans", sans-serif;
  margin: 10px 0 30px 0;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.addServ-form-btn {
  margin-top: 40px;
  padding: 15px 15px;
  font-family: "Lucida Sans", sans-serif;
  font-size: 15px;
  border-radius: 8px;
  border: 0 !important;
  outline: 0 !important;
  background: #4c5a67;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
}

.editProfile-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.editProfile-container {
  margin-top: 120px;
  margin-bottom: 90px;
  width: 550px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 60px 30px;
}

.editProfile-title {
  text-align: center;
  margin: 10px 0px 20px 0px;
  font-size: 28px;
  color: #0a987b;
  font-family: "Lucida Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.editProfile-btn {
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 10px 15px;
  font-family: "Lucida Sans", sans-serif;
  border-radius: 8px;
  border: 0 !important;
  outline: 0 !important;
  background: #4c5a67;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
}

.editProfile-btn:active {
  box-shadow: none;
}
