.profileCard {
  width: 460px;
  /* height: 530px; */
  margin-bottom: 90px;
  padding-bottom: 60px;
  padding-left: 20px;
  background: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
  transition-duration: 0.5s;
  color: #4c5a67;
  font-size: 16px;
  font-family: "Lucida Sans", sans-serif;
}

.profilePosition {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileTitle {
  color: #0a987b;
  padding-bottom: 20px;
  font-family: "Lucida Sans", sans-serif;
}

.profileBtn {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: #0a987b;
  font-family: "Lucida Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.btn-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

.appTitle {
  color: #0a987b;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Lucida Sans", sans-serif;
}

/* .banner {
} */

label {
  font-size: 14px;
  color: #424242;
  font-weight: 500;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 190px;
  height: 30px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 14px;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  background: #e0e0e0;
  color: #424242;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 90px;
  background: #fff;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.dark-preview {
  background: #0d0d0d;
}

.white-preview {
  background: #0d0d0d;
}

.reviewsCard {
  margin-top: 35px;
  width: 400px;
  height: 55px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 12px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 120px;
  gap: 0px;
}
.reviewText {
  font-size: 18px;
  color: #4c5a67;
  font-weight: 100;
  letter-spacing: 0.6px;
}
.review {
  font-size: 12px;
  color: #4c5a67;
  /* font-weight: 600; */
  letter-spacing: 0.5px;
}

.reviewBtn {
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  background-color: #3bb49c;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.reviewBtn:hover {
  background-color: whitesmoke;
  color: #4c5a67;
}
.plussign {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
