/* CSS for AskDoctor component */
h1,
h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.question-form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 220px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

.question-form-container input,
.question-form-container select {
  padding: 10px;
  margin-top: 10px;
  margin-left: -10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.question-form-container button {
  width: 100px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50px;
}

.question-form-container button:hover {
  background-color: #555;
}

.allqustion {
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  gap: 30px;
}
.question-container {
  width: 35%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.content {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.2em;
  color: #211423;
  background-color: #3bb49c;
  padding: 10px;
  border-radius: 5px;
  line-height: 2;
}
.username {
  font-weight: bold;
  margin-right: 10px;
  color: #14171a;
}
.ans-section {
  margin-top: 10px;
}

.ans-section .answer {
  font-weight: bold;
  color: #333;
}

.ans-section form input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ans-section form button {
  padding: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ans-section form button:hover {
  background-color: #555;
}
