/* CSS for AskDoctor component */
h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.question-form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 250px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.question-form-container input,
.question-form-container select {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.question-form-container select {
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12l-6-6h12l-6 6z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px 16px;
  padding-right: 30px;
}

.question-form-container button {
  width: 100px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50px;
}

.question-form-container button:hover {
  background-color: #555;
}

.question-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.question-container .username {
  font-weight: bold;
  color: #333;
}

.question-container .title {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.question-container .content {
  margin-bottom: 5px;
}

.question-container .time-ago {
  color: #888;
  font-size: 12px;
  margin-bottom: 5px;
}

.ans-section {
  margin-top: 10px;
}

.ans-section .answer {
  font-weight: bold;
  color: #333;
}

.ans-section form input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ans-section form button {
  padding: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ans-section form button:hover {
  background-color: #555;
}
